body{
    font-family: Helvetica, sans-serif;
    background-color: #333333;
    color: white;
}

span.disabled{
    color: gray;
}

a {
    color: white;
}

#timer{
    float: right;
    color: yellow;
}

h1 {
    color: #B22234;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    padding: 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid gray;
}

.menu{
    border-bottom: 1px solid gray;
    padding: 5px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.menu span.item {
   cursor: pointer;
   text-decoration: underline;
}

#rules{
    padding: 1em;
    background-color: gray;
    border: 2px double white;
}

#rules span{
    float: right;
    cursor: pointer;
}

.hide{
    display: none;
}

.menu .source{
    color: white;
}

#main-section{
    width: 75%;
    float: left;
}

#info-section{
    margin-left: 75%;
}

@media screen and (max-width: 600px) {
    #main-section {
      width: 100%;
    }

    #info-section{
        display: none;
    }
    
  }


#log-container{
    height: 500px;
    margin-left: 1em;
    overflow-y: auto;
    font-size: 80%;
}

#log{
    margin: 0;
    padding: 0;
}

#board-container {
    width: 800px;
    margin: auto;
}

#board {
    margin: auto;
    border: 5px solid white;
    padding: 1em;
    background-color: #B22234;

}

#board .row{
    text-align: center;
    height: 69px;
}

#board .cell {
    height: 55px;
    display: inline-block;
    width: 55px;
    padding: 10px;
}
.pattern_name{
    font-weight: bold;
    font-size: 120%;
}

.cell_number{
    font-size: 70%;
    color: black;
    margin-left: -5px;
    margin-top: -5px;
    float: left;
}
div.hole{
    position: absolute;
}

div .peg {
    cursor: pointer !important;
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 2px;
}

.red:after{
    background: radial-gradient(circle at 65% 15%, #ffe5e5 1px, #ffb2b2 3%, #e50000 50%, #660000 100%);
}
.blue:after{
    background: radial-gradient(circle at 65% 15%, #ddeeff 1px, #6699bb 3%, #002868 50%, black 100%);
}
.green:after{
    background: radial-gradient(circle at 65% 15%, #e5f2ef 1px, #b2d8b2 3%, #008000 50%, #002600 100%);
}
.black:after{
    background: radial-gradient(circle at 65% 15%, #f5f5f5 1px, #a5a5a5 3%, #333333 50%, #000000 100%);
}

.purple:after{
    background: radial-gradient(circle at 65% 15%, #e5cce5 1px, #b266b2 3%, #800080 50%, #260026 100%);
}

div.peg:after {
    content: "";
    border-radius: 100%;
    width: 51px;
    height: 51px;
    display: inline-block;
    vertical-align: middle;
}

#board .highlight div.peg:after {
    content: "";
    border-radius: 100%;
    width: 51px;
    height: 51px;
    display: inline-block;
    box-shadow: 0px 0px 4px 5px #550000;
    vertical-align: middle;
}

div.hole:after {
    content: "";
    border-radius: 100%;
    width: 55px;
    height: 55px;
    display: inline-block;
    vertical-align: middle;
    background: radial-gradient(circle at 35% 65%, #ddeeff 5%, #333333 55%, #000000 100%);
}
